@charset "UTF-8";

body{
margin: 0;
padding: 0;

}

h1{
    margin: 0;
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}

a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header{
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 100px;
}
article#a1{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.235);
}
p#p1{
    padding: 200px 20px 200px 20px;
    margin: 0px;
    
    max-width: 300px;
    font-size: larger;
    text-align: left;

}

article#a2{
    margin: 0px;
    
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    width: auto;
    height: auto;
}
p#p2{
    background-color: rgba(0, 0, 0, 0.26);
    
    color: white;
    margin: 0px;
    padding: 200px 20px 200px 20px;
    max-width: 300px;

}

article#a4{
    margin: 0px;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    width: auto;
    height: auto;
}

p#p4{
    background-color: rgba(0, 0, 0, 0.26);
    
    color: white;
    margin: 0px;
    padding: 200px 20px 200px 20px;
    max-width: 300px;
}

footer{
    background-color: rgba(0, 0, 0, 0.566);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer>p{
    margin: 0;
    padding: 0;
}



